/node_modules
/.nyc_output
/coverage

# Build
/build
/lib/casedFunctions.js
/lib/unassessed.d.ts
/unassessed.js
/unassessed.js.map
/unassessed.esm.js
/unassessed.esm.js.map
/unassessed.min.js

# Misc
/documentation

# VS Code User Specific Settings
/.vscode/settings.json
