/node_modules
/.nyc_output
/coverage

# Build
/build
/unassessed.js
/unassessed.js.map
/unassessed.esm.js
/unassessed.esm.js.map
/unassessed.min.js

# Misc
/documentation

# VS Code User Specific Settings
/.vscode/settings.json
