/node_modules
/.nyc_output
/coverage

# Build
/build
/lib/casedFunctions.js
/lib/unexempted.d.ts
/unexempted.js
/unexempted.js.map
/unexempted.min.js

# VS Code User Specific Settings
/.vscode/settings.json
